body {
  margin: 0;
  background-image: linear-gradient(#d8d1b8, #dad7cd);
  /* background-color: #dad7cd; */
  }

/****************   Nav Section **********************/
nav {
	background-color: #869e86;
  padding: 5px;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  justify-content: space-between;
}

/***********************  Footer Section   **************************/
footer {
	background-color: #588157;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 3px; 
  margin-top: 40px;
}

/*********** Splash Page ************************/
header {
  display: flex;
  flex-direction: column;  
  align-items: center;

}

header h1 {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: bold;
  color: #325232;
}

header img {
  border-radius: 50px;
  border-style: solid;
  border-color: #325232;
}

.address {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
}

.tagline {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
}

/************* Sections ********************/
.main-body {
  display: grid;
  grid-template-columns: 0.3fr 0.3fr;
  justify-content: center;
  
}
hr {
  border: 10px solid #869e86;
  margin-left: 1.5%;
  margin-right: 1.5%;
  border-radius: 20px;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h3 {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: bold;
  color: #314131;
  margin-left: 1.5%;
}

section dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 15%;
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

section ul {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  gap: 30px;
  column-gap: 60px;
  font-family: "Albert Sans", sans-serif;
  justify-content: start;
  align-items: start;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

section a {
  text-decoration: none;
  font-style: oblique;
  color: #254746;
}

section a:hover {
  color: blue;
}

/**************   Projects   *****************/
.three-col {
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 0.25fr;
  justify-content: center;
  gap: 5%;
}

.card img {
 display: flex;
 justify-content: center;
 border-radius: 3%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: #325232;
  border-radius: 5%;
  background-color: #c4bfae;
  /* margin: 30px; */
  padding-left: 50px;
  padding-right: 50px;
  
}
.card h3 {
  text-align: center;
}

.card ul {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 5px
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      	background-color: #869e86;
        padding-left: 2%;
        padding-right: 2%;
        display: flex;
        flex-direction: column;
        flex-flow: start;
    }


    .three-col {    
      display: grid;
      justify-content: center;
      grid-template-columns: 1fr;
    }
    .tagline {
      display: flex;
      text-align: center;
    }
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-style: solid;
      border-color: #325232;
      border-radius: 15%;
      background-color: #c4bfae;
      
      margin: 50px;
      /* margin-left: 50px; */
      /* margin-right: 100px */
      /* padding-left: 30px;
      padding-right: 30px; */ */
    }

}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
  margin-left: 1.5%;
  align-items: center;
}
h1 {
  padding-left: 15px;
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: bold;
  color: #325232;
}
.one-col hr {
  border: 10px solid #869e86;
  margin-right: 3.5%;
  border-radius: 20px;
}

input {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

textarea {
   margin: 10px;
}

.albert-sans-nav {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.albert-sans-footer {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.albert-sans-body {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}